<h3>Шаблон: {{{-name}}}</h3>
<h4>Эксперты</h4>

<div style="margin-bottom: 90px;">
{{#each experts}}
    <p>{{name}}</p>
{{/each}}
    <h3>Вывод данных из глобальной модели: {{{root.common.meta.title}}}</h3>
</div>